.scroll-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.scroll-container::-webkit-scrollbar {
    width: 6px;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: white;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(97, 99, 100, 1);
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(29, 17, 138, 0.6);
}
